body{
background-color:#EEFF66;
color:#000066;
font-style: italic;
width: 50%;
margin: auto;
}
.hetek{
margin-top: 15%;
display: flex;
justify-content: space-between;
}
hr{
background-color: red;
border: 1px solid red;
}
.egynap img{
width: 230px;

}
.egynap{
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: space-between;
}
.arakcsik{
    justify-content: space-between;
}
.arak{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows:repeat(3,auto)
}